ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* display: flex; */
    justify-content: space-between;
  }

  
  a {
    font-size: 24px;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* margin-right: 4rem; */
  }

  li a:hover {
    background-color:black;
  }

  .active {
    background-color: whitesmoke;
  }

  .writePost{
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  